<.simple_form :let={f} for={@form} phx-submit="save">
  <.input type="text" field={f[:username]} label="Username" />
  <.input type="text" field={f[:name]} label="Name" />
  <.input type="password" field={f[:password]} label="Password" />
  <:actions>
    <.button>Create</.button>
  </:actions>
</.simple_form>
